/* 
    This is the styling section - break the sylesheet into 3 sections
    Layout - location of items relative to each other
    Styling - colours, fonts etc
    Animations/Transitions - fades etc
*/
div {
    font-size: 12px;
}

.hidden {
    display: none;
}
.clickable {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90vh;
    padding:10px;
    border: 1px solid darkgray; 
}

#sidebar {
    /* display:; */
    width: auto;
    height: 90vh;
    border: 1px solid lightgray;
    margin: 3px;
    overflow: hidden;
    padding: 5px;
}
#canvas {
    /* display: table-cell; */
    flex: 1;
    height: 90vh;
    border: 1px solid lightgray;
    margin: 3px;
}